---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -boost-use-ranges,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cert-int09-c,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -hicpp-named-parameter,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-avoid-const-params-in-decls,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
  -readability-static-accessed-through-instance,
  google-default-arguments,
  google-explicit-constructor,
  google-runtime-operator
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
